@media (min-width:600px) {
    h1 {
        color: yellow
    }

    p {
        text-indent: 25px
    }


    .grid-container {
        display: inline-grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

        /* grid:{solid red}; */
        h3 {
            color: red;
        }

        h4 {
            color: blue;
            text-align: center;
        }

        p {
            color: blue;
        }

        blockquote {
            color: blue;
        }

        img {
            max-width: 70%;
            height: auto;
          }


    }

    /*#region Basics */
    .gridheader {
        grid-area: 1/1/span 1/span 5;
    }

    .gridtitle {
        grid-area: 2/1/span 1/span 5;
        text-align: center;
    }

    .gridnav {
        grid-area: 3/5/span 3/span 1;
    }

    .gridfooter {
        grid-area: 6/1/span 1/span 5;
    }

    /*#endregion */
    /*#region Index */
    .indexbody {
        grid-area: 3/1/span 2/span 4;
    }

    /*#endregion */
    /*#region About */
    .gridheadshot {
        grid-area: 3/1/span 1/span 1;

        align-self: center;
    }

    .gridquote {
        grid-area: 4/1/span 1/span 1;
    }

    .gridabouttext {
        grid-area: 3/2/span 2/span 3;
    }

    .gridvideo {
        grid-area: 5/1/span 1/span 3;
    }

    .gridcv {
        grid-area: 5/3/span 1/span 1;
    }

    /*#endregion */
    /*#region Projects */
    .p1title {
        grid-area: 3/1/span 1/span 1;
    }

    .p1image {
        grid-area: 4/1/span 1/span 1;
    }

    .p1text {
        grid-area: 4/2/span 1/span 3;
    }

    .p2title {
        grid-area: 5/4/span 1/span 1;
    }

    .p2image {
        grid-area: 6/4/span 1/span 1;
    }

    .p2text {
        grid-area: 6/1/span 1/span 3;
    }

    .p3title {
        grid-area: 7/1/span 1/span 4;
    }

    .p3image {
        grid-area: 8/1/span 1/span 1;
    }

    .p3text {
        grid-area: 8/2/span 1/span 3;
    }

    .projectsfooter {
        grid-area: 9/1/span 1/span 5;
    }

    .projectsnav {
        grid-area: 3/5/span 5/span 1;
    }

    /*#endregion */



    /* General */
    div {
        margin: 0px;
    }

    header {
        background-color: red;

        h1 {
            color: yellow;
        }
    }

    footer {
        background-color: red;

        h2 {
            color: yellow;
        }
    }
}

@media (max-width:600px) {

    img {
        max-width: 70%;
        height: auto;
      }
      
    body {
        font-size: 1.5rem;
    }

    h3 {
        color: red;
    }

    h4 {
        color: blue;
        text-align: center;
    }

    h2 {
        color: yellow;
    }

    p {
        color: blue;
    }

    blockquote {
        color: blue;
    }

    div {
        margin: 0px;
    }

    header {
        background-color: red;

        h1 {
            color: yellow;
        }
    }

    footer {
        background-color: red;

        h2 {
            color: yellow;
        }
    }

    .grid-container {
        font-size: 1.5rem;
    }
}