@media (min-width:600px) {
    nav ul li {
        list-style-type: none;
        margin: 5px;
        display: flex;
        flex-direction: column;
        border: 10px double red;
        padding: 15px 15px 15px 15px;
        background-color: yellow;
        width: 200px;
        text-align: center;

    }

    nav ul li ul li{
        list-style-type: none;
        margin: 0px;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        border: 10px double red;
        padding: 15px;
        background-color: yellow;
        width: 100%;
        text-align: center;
        align-self:center;

    }

    nav ul ul {
        display: none;
    }

    /* nav ul>li ul {
        position: absolute;
        margin-top: 0;
        margin-left: 100%;
        display: none;
    } */
    nav ul li:hover .dropdown {
        display: flex;
        flex-direction: column;
        align-self:center;
        padding: 0px 0px 0px 0px;
        width:150px;
        top: 90px;
        right: 0;
        /* width: 155px; */
        height: 240px;
    }
}

@media (max-width:600px) {
    nav ul li {
        list-style-type: none;
        margin: 5px;
        display: flex;
        flex-direction: column;
        border: 10px double red;
        padding: 15px 15px 15px 15px;
        background-color: yellow;
        width: 200px;
        text-align: center;

    }

    nav ul ul {
        display: none;
    }
}